.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 430px;
  line-height: 2;
}

.button {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 1px;
  cursor: pointer;
}
