.container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 200px;

  padding: 1rem;
  border-radius: 5px;
  background-color: #f0f0f0;

  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 1px
}

.container h3 {
  margin: 1rem 0;
}

.container h3:first-of-type {
  margin-top: 0.5rem;
}

.label {
  padding: 0.25rem 0;
  margin-right: 2rem;
  cursor: pointer;
}

.checkbox {
  margin-right: 0.5rem;
  cursor: pointer;
}
